name: Pull Request Requirements

on:
  pull_request:
    branches: ["*.*.x", "*.x", "main", "next", "next-major", "beta", "alpha"]

  workflow_call: # allow this workflow to be called by other workflows

jobs:
  unit_tests:
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up repo submodules
        run: git submodule update --init --recursive

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: Unit Tests
        run: |
          pnpm test
